*{
    margin: 0; 
    padding: 0;
}
.details{
    background-color: rgb(120, 77, 256, 0.7);
    padding: 10px;
}
.details h2{
    background-color: pink;
    display: inline-block;
}
.details b{
    font-size: 1.7rem;
}
.details p{
    font-size: 1.4rem;
}
h2{
    margin: 17px;
}
table{
	width: 100%;
}
table tr th{
	font-size: 1.5rem;
    padding: 5px;
    background-color: rgba(71, 89, 255, 0.8);
	color: blue;
}
table tr td{
	font-size: 20px;
    padding: 5px;
	text-align: center;
}
table tr td:hover{
	background-color: #ecb457;
}
table tr td a{
	text-decoration: none;
	color: black;
}
table tr td a:hover{
	color: #141bec;
}
table tr td a:visited{
	color: #ec1414;
}
table tr:nth-child(2){
	background-color:  rgba(120, 223, 175, 0.4);
}
table tr:nth-child(3){
	background-color:  rgba(77, 176, 255, 0.2);
}
table tr:nth-child(4){
	background-color:  rgba(111, 71, 255, 0.2);
}
table tr:nth-child(5){
	background-color:  rgba(166, 71, 255, 0.2);
}
table tr:nth-child(6){
	background-color:  rgba(218, 71, 255, 0.2);
}
h3 {
    background-color: #01beff;
    text-align: center;
    color: yellow;
}
